{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block content %}

    <!-- masonry
    ================================================== -->
    <section id="bricks">

        <div class="row masonry">

            <!-- brick-wrapper -->
        <div class="bricks-wrapper">

            <div class="grid-sizer"></div>

            {% for post in posts %}
                
                <article class="brick entry format-standard animate-this">

                    <div class="entry-thumb">
                        {% image post.blog_image width-300 as blog_img %}
                        <a href="{{post.url}}" class="thumb-link">
                            <img src="{{blog_img.url}}" alt="{{post.title}}">             
                        </a>
                    </div>
    
                    <div class="entry-text">
                        <div class="entry-header">
    
                            <div class="entry-meta">
                                <span class="cat-links">
                                    <a href="#">Design</a> 
                                    <a href="#">Photography</a>               				
                                </span>			
                            </div>
    
                            <h1 class="entry-title"><a href="{{post.url}}">{{post.custom_title}}</a></h1>
                            
                        </div>
                            <div class="entry-excerpt">
                                {{post.content.fullrichtext |truncatechars:140}}
                            </div>
                    </div>
    
                    </article> <!-- end article -->

                {% endfor %}
            </div> <!-- end brick-wrapper --> 

        </div> <!-- end row -->
 
        <div class="row">
            
            <nav class="pagination">
               <span class="page-numbers prev inactive">Prev</span>
                <span class="page-numbers current">1</span>
                <a href="#" class="page-numbers">2</a>
               <a href="#" class="page-numbers">3</a>
               <a href="#" class="page-numbers">4</a>
               <a href="#" class="page-numbers">5</a>
               <a href="#" class="page-numbers">6</a>
               <a href="#" class="page-numbers">7</a>
               <a href="#" class="page-numbers">8</a>
               <a href="#" class="page-numbers">9</a>
                <a href="#" class="page-numbers next">Next</a>
           </nav>
 
        </div>
 
    </section> <!-- end bricks -->
         



    <div class="container">
       
            
            <a href="{{post.url}}"><img src="{{blog_img.url}}" alt=""></a>
            <a href="{{post.url}}">{{post.custom_title}}</a>
        <br>
    
    
    </div>
    
{% endblock %}